*{
    box-sizing: border-box;
}
.order-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.manage_order-input input {
  width: 70%;
  border: none;
  background-color: rgb(232, 241, 241);
  border-radius: 5px 0 0 5px;
  outline: none;
}
.manage_order-input button {
  width: 15%;
  border: none;
  background-color: rgb(208, 60, 60);
  color: white;
  border-radius: 0 5px 5px 0;
  object-fit: none;
  padding: 0 3px;
}
.list-order {
  width: 100%;

  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(232, 241, 241);
  text-align: center;
}

.list-order th {
  background-color: rgb(6, 6, 132);
  color: white;
}
.list-order .btn-delete {
  width: 20%;
  border: none;
  background-color: rgb(208, 60, 60);
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}
.list-order tr {
  border-bottom: 1px solid rgb(189, 220, 220);
}
.list-order tr td {
  padding: 5px 0;
}
.list-order .btn-edit {
  width: 30%;
  border: none;
  background-color: blueviolet;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}
.list-order .btn-detail {
  width: 45%;
  border: none;
  background-color: rgb(191, 88, 88);
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}
.manage_order-input .btn-add {
  width: 13%;
  border: none;
  background-color: rgb(191, 88, 88);
  color: white;
  border-radius: 5px;
  padding: 0 3px;
}
.manager-order {
  border: 1px solid rgb(173, 198, 198);
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 1px 2px 4px rgb(186, 112, 78);
  border-radius: 5px;
  margin: 30px;
}
nav {
  justify-content: left;
}
