/* main {
  background-image: url(/assets/image/background\ đăng\ ký.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

form {
  min-width: 300px;
  width: 30%;
  border-radius: 5px;
  margin: auto;
  /* background-color: transparent; */
  backdrop-filter: blur(4px) brightness(60%);
  box-shadow: 1px 4px 5px rgb(181, 133, 29);
}

form * {
  padding: 3px;
  margin: 3px 20px;
  font-size: 12px;
}
form input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 0%;
}

form button:hover {
  opacity: 0.7;
}
form button {
  width: 30%;
  background-color: rgb(191, 88, 88);
  /* color: white; */
  font-size: 16px;
  border-radius: 20px;
  border: hidden;
  transition: 0.25s;
}
#btn-form-login {
  text-align: center;
}
form h2 {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
  color: rgb(191, 88, 88);
  margin-top: 0px;
}
#navigation {
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 0;
  color: white;
}
form hr {
  padding: 0;
  color: white;
}
.error {
  color: rgb(191, 88, 88);
  padding: 0;
  margin: 0 0 0 30px;
  font-size: 0.8;
}
.form-container {
  padding: 100px 0;
}
label {
  color: white;
}
form a {
  text-decoration: none;
  color: rgb(191, 88, 88);
}
header {
  padding: 0 30px;
}
