.card-header .row .col-6 .search-form{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-form input {
  flex: 0.7;
}

.search-form button {
  flex: 0.3;
}
.template-demo {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.add-student {
  margin-top: 10px;
}